*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}
*::selection {
    color: rgb(255, 255, 255);
    background: #de6c5c;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-color: #ffffff;
    display: flexbox;
}

.navbar{
    position: sticky;
    top: 90%;
}



.bar{   
    bottom: 2%;            
    width: 95%;
    position: sticky;
    display: inline-block;
    /*border-top: 2px #000 solid;*/
    align-items: center;
    align-content: center;



}
.dark-mode .bar{
    border-color: #ffffff;
}

/*.bar p{
    float: left;
    //padding-top: 2%;
    //padding-left: 2%;
    font-weight: 15px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #383736;
}*/

.bar .tudo{
    border-radius: 15px;
    font-size: 11px;
}

.bar .tudo:hover{
    font-size: 12.5px;
}

.bar .ativas{
    border-radius: 15px;
    font-size: 11px;
}

.bar .ativas:hover{
    font-size: 12.5px;
}

.bar .completas{
    border-radius: 15px;
    font-size: 11px;
}

.bar .completas:hover{
    font-size: 12.5px;
}


.bar .limpar{
    border-radius: 15px;
    float: right;
    font-size: 11px;

}

.bar .limpar:hover{
    font-size: 12.5px;
}

#myProgress { 
    border-radius: 16px;
    width: 100%;
    background-color: rgb(220, 220, 220);
}


.dark-mode #myProgress{
    background-color: #555;
}

#myBar {
  width: 1%;
  height: 5px;
  background-color: #de6c5c;
}

.dark-mode{
    background-color: #383736;
    color: #FFF;

}

.dark-mode .logo{
    background: #383736;
}

.logo{
    align-content: center;
    position: relative;
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 10px;
    border-radius: 10px;
}

.dark-mode .logo h2{
    color: #FFF;
}

.logo h2{
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 37.5% */
    letter-spacing: 0.96px;
}

.dark-mode .logo img{
    filter: invert(90%);
}
.row{
    display: flex;
    padding: 12px 48px 12px 14px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 30px;
    border: 2px solid var(--black, #1B1B1B);
    background: var(--white, #FFF);
}
.dark-mode .row{
    border: 2px solid var(--black, #ffffff);
    background: var(--white, #383736);
}

input{
    flex: 1;
    border: none;
    outline: none;
    padding: 2%;
    background: transparent;
    font-weight: 14px;
    font-size: 18px;
}

.dark-mode input{
    color: #FFF;
}


input::selection {
    color: rgb(255, 255, 255);
    background: #de6c5c;
}


button {
  position: relative;
  padding: 2%;
  font-weight: 15px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #383736;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  outline: none;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.dark-mode button{
    color: #FFF;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #de6c5c;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}


.task{
    width: 100%;
    max-width: 600px;
}

.tarefas{
    position: relative;
    padding-bottom: 10%;
}


ul li{
    list-style: none;
    text-align:left;
    font-size: 17px;
    user-select: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
    align-content: center;
}

.dark-mode ul li{
    color: #FFF;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9.5px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}



ul li.checked::before{
    background-image: url(img/checked.svg);
}



ul li span{
    position: absolute;
    right: 5%;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align:center;
    border-radius: 30%;

}

.dark-mode ul li span{
    color: #fff;
}

ul li span:hover{
    background: #de6c5c;
    color: whitesmoke;
}

